.container {
    width: 100%;
    max-width: 121.6rem;
    margin: 0 auto;
    @media (max-width: 768px) {
        padding: 0 2rem;
    }
}

.container-blog {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
}